.table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
  }
  
  .table th {
    text-align: center;
    background-color: #f2f2f2;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  .table td {
    border-bottom: 1px solid #ddd;
  }